<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Ticket Güncelle</h4>
          <p class="card-description">
          </p>
          <form [formGroup]="AddForm" (ngSubmit)="uptdate()" class="forms-sample">
            <div class="form-group">
              <label for="priority">Öncelik</label>
             <select class="form-control form-control-lg" formControlName="priority">
                <option class="dropdown-item" value="Acil" >Acil</option>
                <option class="dropdown-item" value="Normal" >Normal</option>
                <option class="dropdown-item" value="Düsük" >Düsük</option>

              </select>
            </div>

            <div class="form-group">
                <label for="priority">İşlem bitiş tarihi</label>
                <input type="date" formControlName="projectedFinishDate" class="form-control glyphicon glyphicon-calendar" id="projectedFinishDate"
                />
            </div>
            <div class="form-group">
                <label for="status">Durumu</label>
               <select class="form-control form-control-lg" formControlName="status">
                <option class="dropdown-item" value="İstek Alındı" >beklemede</option>
                <option class="dropdown-item" value="üzerinde Çalısılıyor" >işlemde</option>
                <option class="dropdown-item" value="Bitti" >tamamlandı</option>
                </select>
              </div>
             
            <button [disabled]="!AddForm.valid" type="submit" class="btn btn-success mr-2">KAYDET</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  