<div class="row">
    <div class="col-md-12 d-flex align-items-stretch grid-margin">
        <div class="row flex-grow">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">iletisim detayları</h4>
                
                <div class="row" >
                    <div class="col-12 grid-margin">
                      <div class="card">
                        <div class="card-body" *ngFor="let content of contents">
                          <h5 *ngIf="content.isCustomer; else calisan " class="card-title mb-4">Musteri</h5>
                          <ng-template #calisan>
                              <h5  class="card-title mb-4">Çalisan</h5>
                          </ng-template>
                          <div class="fluid-container">
                            <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                              
                              <div class="ticket-details col-md-9">
                                <div class="d-flex">
                                  <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">Mesaj :</p>
                                  <p class="text-primary mr-1 mb-0">{{content.message}}</p>
                                  <p class="mb-0 ellipsis"></p>
                                </div>
                                <p class="text-gray ellipsis mb-2">Çalışmadaki devamlılık, her güçlüğü yener.</p>
                                
                              </div>
                             
                            </div>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
              </div>
            </div>
          </div>
         
        </div>
      </div>
</div>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Mesaj ekle</h4>
          <p class="card-description">
              
          </p>
          <form [formGroup]="AddForm" (ngSubmit)="add()" class="forms-sample">
            <div class="form-group">
              <label for="name">Mesaj</label>
              <input type="text" formControlName="message" class="form-control" id="message" placeholder="mesaj grin...">
              <span class="help-block" *ngIf="AddForm.get('message').hasError('required') && AddForm.get('name').touched">
               Mesaj Adı alanı zorunludur
             </span>
             <span class="help-block text-danger" *ngIf="AddForm.get('message').hasError('maxlength') && AddForm.get('message').touched">
              Max 500 karakter
            </span>
            <span class="help-block text-danger" *ngIf="AddForm.get('message').hasError('maxlength') && AddForm.get('message').touched">
              Min 5 karakter
              </span>
            </div>
            
          
            <button [disabled]="!AddForm.valid" type="submit" class="btn btn-success mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
            <h6>{{AddForm.value|json}}</h6>
            <h6>{{AddForm.status|json}}</h6>
          </form>
        </div>
      </div>
    </div>
  </div>