<div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Mesaj ekle</h4>
              <p class="card-description">
                  
              </p>
              <form [formGroup]="AddForm" (ngSubmit)="add()" class="forms-sample">
                <div class="form-group">
                  <label for="name">Mesaj</label>
                  <input type="text" formControlName="message" class="form-control" id="message" placeholder="mesaj grin...">
                  <span class="help-block" *ngIf="AddForm.get('message').hasError('required') && AddForm.get('name').touched">
                   Mesaj Adı alanı zorunludur
                 </span>
                 <span class="help-block text-danger" *ngIf="AddForm.get('message').hasError('maxlength') && AddForm.get('message').touched">
                  Max 500 karakter
                </span>
                <span class="help-block text-danger" *ngIf="AddForm.get('message').hasError('maxlength') && AddForm.get('message').touched">
                  Min 5 karakter
                  </span>
                </div>
                
              
                <button [disabled]="!AddForm.valid" type="submit" class="btn btn-success mr-2">KAYDET</button>
   
              </form>
            </div>
          </div>
        </div>
      </div>
      