<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Customer</h4>
        <p class="card-description">
          Basic form elements
        </p>
        <form [formGroup]="AddForm" (ngSubmit)="uptdate()" class="forms-sample">
          <div class="form-group">
            <label for="name">Firma Isimi</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Isim">
            <span class="help-block" *ngIf="AddForm.get('name').hasError('required') && AddForm.get('name').touched">
              Adı alanı zorunludur
           </span>
           <span class="help-block text-danger" *ngIf="AddForm.get('name').hasError('maxlength') && AddForm.get('name').touched">
            Max 25 karakter
          </span>
          <span class="help-block text-danger" *ngIf="AddForm.get('name').hasError('maxlength') && AddForm.get('name').touched">
            Min 3 karakter
            </span>
          </div>
         
          <div class="form-group">
            <label for="description">Açıklama</label>
            <input formControlName="description" type="text" class="form-control" id="description" placeholder="Açıklama">
            <span class="help-block text-danger" *ngIf="AddForm.get('description').hasError('maxlength') && AddForm.get('description').touched">
              Max 25 karakter
            </span>
            <span class="help-block text-danger" *ngIf="AddForm.get('description').hasError('maxlength') && AddForm.get('description').touched">
              Min 2 karakter
              </span>
          </div>
        
          <button [disabled]="!AddForm.valid" type="submit" class="btn btn-success mr-2">Submit</button>
          <button class="btn btn-light">Cancel</button>
          <h6>{{AddForm.value|json}}</h6>
          <h6>{{AddForm.status|json}}</h6>
        </form>
      </div>
    </div>
  </div>
</div>
